@model IEnumerable<EstateAgent.Entities.Residential>

@{
    ViewData["Title"] = "Index";
}

From Redis Cache
@foreach (var item in ViewBag.RedisData)
{
    <ol>
        <li>@item.Title</li>
    </ol>
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RealEstate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pictures)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RealEstate)
                </td>
                <td>
                    @if (item.Pictures == null)
                    {
                        <p>test</p>
                    }
                    else
                    {
                        @for (int i = 0; i < item.Pictures.Count(); i++)
                        {
                            <img src="~/images/@item.Pictures[i]" alt="@item.Title" style="width:25px; " />
                        }
                    }


                </td>
                <td>
                    @Html.ActionLink("Update", "Update", new { id = item.Id }) |
                    <form action="/adminresidential/remove" method="post" style="display:inline">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
