@model EstateAgent.MvcUI.Models.ModelResidential

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>ModelResidential</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" enctype="multipart/form-data">
            <input asp-for="Id" type="hidden" value="@Model.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pictures" class="control-label"></label>
                @if (Model.Pictures != null)
                {
                    <input type="hidden" name="Pictures" value="@Model.Pictures" />
                    @for (int i = 0; i < Model.Pictures.Count(); i++)
                    {
                        <img src="~/images/@Model.Pictures[i]" alt="@Model.Title" style="width:25px; " />
                    }
                    <input type="file" name="photos" multiple="multiple" value="@Model.Pictures" />
                }
                else
                {
                    <input type="file" name="photos" multiple="multiple" />

                }
                <span asp-validation-for="Pictures" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RealEstate" class="control-label"></label>
                <input asp-for="RealEstate" class="form-control" />
                <span asp-validation-for="RealEstate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfRooms" class="control-label"></label>
                <input asp-for="NumberOfRooms" class="form-control" />
                <span asp-validation-for="NumberOfRooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgeOfBuilding" class="control-label"></label>
                <input asp-for="AgeOfBuilding" class="form-control" />
                <span asp-validation-for="AgeOfBuilding" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Furnished" /> @Html.DisplayNameFor(model => model.Furnished)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="WithinaBuildingComplex" /> @Html.DisplayNameFor(model => model.WithinaBuildingComplex)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="FloorNumber" class="control-label"></label>
                <input asp-for="FloorNumber" class="form-control" />
                <span asp-validation-for="FloorNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfFloors" class="control-label"></label>
                <input asp-for="NumberOfFloors" class="form-control" />
                <span asp-validation-for="NumberOfFloors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
